<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset='utf-8'>
    <title>うにてぃっぷす - 可変する文字サイズ</title>
    <link id="css_design" rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
    <link rel="icon" href="../../pictures/sushi_uni.png">
    <script src="../../javascript/page.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="System1 Unit2のメンバーが使うTipsサイトです。作業に詰まったとき、備忘録を残したいときに覗いてください。">
  </head>

  <body>
    <!--boby全体-->
    <div class="container">
      <!--ヘッダー-->
      <header class="header">
        <h1 class="header__title">うにてぃっぷす</h1>
      </header>

      <!--Homeリンク-->
      <div class="return_bar">
        <a href="../index.html" class="home_url">Home</a>
      </div>
  
      <!--ヘッダー下全体-->
      <div id="body">
        <!--左部(本文)-->
        <div id="main">
          <!--Tips一覧部-->
          <div id="tips_detail">
            <!--Tipsタイトル-->
            <div id="tips_title">可変する文字サイズ</div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div id="subtitle_1" class="heading_1">文字の大きさを可変させる</div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">CSSプロパティの<code>font-size</code>で値を指定すると、文字のサイズを変更することができます。<code>font-size</code>の値はpx以外に指定できる単位があり、画面サイズに比例する単位で指定すると文字の大きさを動的に可変させることができます。</p>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div id="subtitle_2" class="heading_1">指定できる単位</div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="heading_2">vw</p>
                  <p class="main_text">相対指定。ビューポートの幅の%で決まる。</p>
<pre>
.a {
  font-size: 3vw;
}
</pre>
                </div>
                <div class="lang_div">
                  <p class="heading_2">vh</p>
                  <p class="main_text">相対指定。ビューポートの高さの%で決まる。</p>
<pre>
.a {
  font-size: 3vh;
}
</pre>
                </div>
                <div class="lang_div">
                  <p class="heading_2">vmin</p>
                  <p class="main_text">相対指定。ビューポートの「幅か高さの短い方」の%で決まる。</p>
<pre>
.a {
  font-size: 3vmin;
}
</pre>
                </div>
                <div class="lang_div">
                  <p class="heading_2">vmax</p>
                  <p class="main_text">相対指定。ビューポートの「幅か高さの長い方」の%で決まる。</p>
<pre>
.a {
  font-size: 3vmax;
}
</pre>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div id="subtitle_3" class="heading_1">clampメソッド</div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">CSSの関数で、最小値・基準値・最大値を設定して可変させることができます。</p>
<pre>
【書き方】
font-size: clamp(最小値, 基準値, 最大値);
【例】
font-size: clamp(15px, 1vw, 30px);
</pre>
                  <p class="main_text">この例だと、ウィンドウ幅に対して1vwの大きさを基本としウィンドウ幅を縮小した場合、15px以下になることはなく、逆にウィンドウ幅を拡大した場合に30px以上になりません。つまり15～30pxの間で可変をしてくれるようになります。</p>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
                <!--題字-->
                <div id="subtitle_4" class="heading_1">参考サイト</div>
                <!--本文-->
                <div class="textarea">
                  <div class="lang_div">
                    <p class="main_text">TechAcademy：<a href="https://techacademy.jp/magazine/19741" target="_blank" rel="noopener" class="link_in_contents">https://techacademy.jp/magazine/19741</a></p>
                    <p class="main_text">RACCOON TECH BLOG：<a href="https://techblog.raccoon.ne.jp/archives/1617239525.html" target="_blank" rel="noopener" class="link_in_contents">https://techblog.raccoon.ne.jp/archives/1617239525.html</a></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!--右部(メニューバー)-->
        <div id="menu_bar">
          <!--検索ボックス-->
          <!--
          <div class="search_bar">
            <label for="tag" class="menu_title">検索</label>
            <div class="search_area">
              <label for="tag"></label>
              <input type=text value="" name="tag" id=tag class="search_box">
              <input type=button id=search class="search_btn" value=検索>
            </div>
          </div>
          -->
          <!--もくじ-->
          <div class="table_of_contents">
            <p class="menu_title">もくじ</p>
            <div id="table_of_contents_index"></div>
          </div>
          <!--デザイン変更ボタン-->
          <div class="change_design_area">
            <div class="menu_title">デザイン変更</div>
            <div class="select_area">
              <select id="select_design" class="design_bar" onchange="change_css_btn();">
                <option value="simple_green">シンプル　緑</option>
                <option value="simple_darkmode_purple">シンプル　ダークモード</option>
                <option value="pop_blue">ポップ　青</option>
                <option value="pop_pink">ポップ　ピンク</option>
                <option value="pop_yellow">ポップ　黄</option>
                <option value="pop_accessibility">ポップ　アクセシビリティ</option>
                <option value="stylish_blue">スタイリッシュ　青</option>
                <option value="stylish_accessibility">スタイリッシュ　アクセシビリティ</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
