<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset='utf-8'>
    <title>うにてぃっぷす - サンプルページ</title>
    <link rel="icon" href="../../pictures/sushi_uni.png">
    <link id="css_design" rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
    <script src="../../javascript/page.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="System1 Unit2のメンバーが使うTipsサイトです。作業に詰まったとき、備忘録を残したいときに覗いてください。">
  </head>

  <body>
    <!--boby全体-->
    <div class="container">
      <!--ヘッダー-->
      <header class="header">
        <h1 class="header__title">うにてぃっぷす</h1>
      </header>

      <!--Homeリンク-->
      <div class="return_bar">
        <a href="../index.html" class="home_url">Home</a>
      </div>
  
      <!--ヘッダー下全体-->
      <div id="body">
        <!--左部(本文)-->
        <div id="main">
          <!--Tips一覧部-->
          <div id="tips_detail">
            <!--Tipsタイトル-->
            <div id="tips_title">
              <div>色に関するサイトたち</div>
            </div>
            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><div id="subtitle_1" class="heading_1_text">概要</div></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">UIを作成するにあたって便利だと思ったサイトを備忘録として記載しておきます。<br>配色に関して困ったことがあれば参考にしてください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><div id="subtitle_2" class="heading_1_text">カラーコードの参考サイト</div></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="heading_2">PEKO STEP 「RGBと16進数カラーコードの相互変換ツール」</p>
                  <p class="main_text">RGBの数値から16進数のカラーコードに変換してくれるサイトです。</p>
                  <img src="../../pictures/screenshots/pekostep_rgb16_1.jpg" alt="PEKO STEP カラーコードの相互変換ツールのスクリーンショット" title="pekostep_rgb16_1" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://www.peko-step.com/tool/tfcolor.html" target="_blank" rel="noopener" class="link_in_contents">https://www.peko-step.com/tool/tfcolor.html</a></p>
                </div>
                <div class="lang_div">
                  <p class="heading_2">PEKO STEP 「画像から色のRGBを取得するスポイトツール」</p>
                  <p class="main_text">画像から指定した色のカラーコードを抽出してくれるサイトです。<br>「この色使いたいけどカラーコードが分からない…」という時に使用すると便利です。</p>
                  <p class="main_text">使用する画像をドロップで画面に置き、読み取りたい色をクリックするとカラーコードを表示してくれます。</p>
                  <img src="../../pictures/screenshots/pekostep_getcolor_1.jpg" alt="PEKO STEP スポイトツールのスクリーンショット" title="pekostep_getcolor_1" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://www.peko-step.com/tool/getcolor.html" target="_blank" rel="noopener" class="link_in_contents">https://www.peko-step.com/tool/getcolor.html</a></p>
                </div>
                <div class="lang_div">
                  <p class="heading_2">Chrome拡張機能 「ColorPick Eyedropper」</p>
                  <p class="main_text">WEBサイト内の色を知りたい場合はChromeの拡張機能の「ColorPick Eyedropper」を使用すると便利です。</p>
                  <p class="main_text">参考：<a href="https://www.qam-web.com/?p=15928" target="_blank" rel="noopener" class="link_in_contents">https://www.qam-web.com/?p=15928</a></p>
                  <p class="main_text">リンク：<a href="https://chrome.google.com/webstore/detail/colorpick-eyedropper/ohcpnigalekghcmgcdcenkpelffpdolg" target="_blank" rel="noopener" class="link_in_contents">https://chrome.google.com/webstore/detail/colorpick-eyedropper/ohcpnigalekghcmgcdcenkpelffpdolg</a></p>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><div id="subtitle_3" class="heading_1_text">カラーパレットの参考サイト</div></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="heading_2">Random Material Palette Generator</p>
                  <p class="main_text">画面をクリックするとランダムで3色の配色パターンを表示してくれます。<br>また、右側のアイコンをクリックするとテンプレートを切り替えて表示することができます。</p>
                  <img src="../../pictures/screenshots/random_material_palette_generator_1.jpg" alt="Random Material Palette Generator テンプレート切り替えのスクリーンショット" title="random_material_palette_generator_1" class="image_in_main_text">
                  <img src="../../pictures/screenshots/random_material_palette_generator_2.jpg" alt="Random Material Palette Generator 名刺テンプレートに切り替え" title="random_material_palette_generator_2" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://www.threebu.it/random-material-palette/" target="_blank" rel="noopener" class="link_in_contents">https://www.threebu.it/random-material-palette/</a></p>
                </div>
                <div class="lang_div">
                  <p class="heading_2">Color Hunt</p>
                  <p class="main_text">4色のカラーパレットを提案してくれます。</p>
                  <img src="../../pictures/screenshots/colorhunt_1.jpg" alt="Color Hunt のスクリーンショット" title="colorhunt_1" class="image_in_main_text">
                  <p class="main_text">検索バーをクリックすると探したい色やテーマを選択できるので簡単に理想のカラーパレットが見つかります。<br>また、カラーパレットのハートボタンを押すことでコレクション(お気に入り)として登録され、気になるカラーパレットを比較しながら見ることができます。</p>
                  <img src="../../pictures/screenshots/colorhunt_2.jpg" alt="Color Hunt のスクリーンショット" title="colorhunt_2" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://colorhunt.co/" target="_blank" rel="noopener" class="link_in_contents">https://colorhunt.co/</a></p>
                </div>
                <div class="lang_div">
                  <p class="heading_2">Color Drop</p>
                  <p class="main_text">
                    ・4色のカラーパレット表示<br>・フラットカラー一覧表示<br>・画像からカラーコード表示<br>・カラーコード変換<br>・グラデーション作成<br><br>
                    以上の5つの機能が使用できるサイトです。右上のメニューから切り替えができます。
                  </p>
                  <img src="../../pictures/screenshots/colordrop_1.jpg" alt="Color Drop のスクリーンショット" title="colordrop_1" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://colordrop.io/" target="_blank" rel="noopener" class="link_in_contents">https://colordrop.io/</a></p>
                </div>
                <div class="lang_div">
                  <p class="heading_2">Coolors</p>
                  <p class="main_text">スペースキーを押すたびにランダムに色を提案してくれるサイトです。<br>「＋」で色の数を増やしたり、ロック機能で色を固定させて他の色を切り替えることもできるので、自分の好きなパレットを見つけることができます。</p>
                  <img src="../../pictures/screenshots/coolors_1.jpg" alt="Coolors のスクリーンショット" title="coolors_1" class="image_in_main_text">
                  <p class="main_text">また、眼鏡のボタンをクリックすると色覚異常の人がどのように見えているか表示してくれるので、アクセシビリティに配慮した組み合わせを探すことができます。</p>
                  <img src="../../pictures/screenshots/coolors_2.jpg" alt="Coolors 色覚異常再現のスクリーンショット" title="coolors_2" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff" target="_blank" rel="noopener" class="link_in_contents">https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff</a></p>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><div id="subtitle_4" class="heading_1_text">アクセシビリティの参考サイト</div></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="heading_2">MATERIAL DESIGN  Color Tool</p>
                  <p class="main_text">1色指定すると、その色でUIのイメージやアクセシビリティをチェックすることができます。<br>ACCESSIBILITYを選択すると、選択した色を背景色にして黒文字と白文字の適正を表示してくれます。</p>
                  <img src="../../pictures/screenshots/materialdesign_colortool_1.jpg" alt="MATERIAL DESIGN Color Tool のスクリーンショット" title="materialdesign_colortool_1" class="image_in_main_text">
                  <p class="main_text">リンク：<a href="https://material.io/resources/color/#!/?view.left=0&view.right=0" target="_blank" rel="noopener" class="link_in_contents">https://material.io/resources/color/#!/?view.left=0&view.right=0</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--右部(メニューバー)-->
        <div id="menu_bar">
          <!--検索ボックス-->
          <div class="search_bar">
            <label for="tag" class="menu_title">検索</label>
            <div class="search_area">
              <label for="tag"></label>
              <input type=text value="" name="tag" id=tag class="search_box">
              <input type=button id=search class="search_btn" value=検索>
            </div>
          </div>
          <!--もくじ-->
          <div class="table_of_contents">
            <p class="menu_title">もくじ</p>
            <div id="table_of_contents_index"></div>
          </div>
          <!--デザイン変更ボタン-->
          <div class="chenge_design_area">
            <div class="menu_title">デザイン変更</div>
            <div class="select_area">
              <select id="select_design" class="design_bar">
                <option value="simple_green">シンプル　緑</option>
                <option value="simple_darkmode_purple">シンプル　ダークモード</option>
                <option value="pop_blue">ポップ　青</option>
                <option value="pop_pink">ポップ　ピンク</option>
                <option value="pop_yellow">ポップ　黄</option>
                <option value="pop_accessibility">ポップ　アクセシビリティ</option>
                <option value="stylish_blue">スタイリッシュ　青</option>
                <option value="stylish_accessibility">スタイリッシュ　アクセシビリティ</option>
              </select>
              <input id="chenge_design_btn" class="design_btn" type="button" value="変更" onclick="chenge_css_btn();">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
