/* タグ全体 */
html, h1, ol {
  margin: 0px;
}
a {
  color: #000;
  text-decoration: none;
}
code {
  background-color: #e0e0e0;
  color: #333;
  padding: 0.1em 0.4em;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  border-radius: 4px;
  word-break: break-word;
}
pre {
  color: #e3e3e3;
  background-color: #364549;
  margin: 20px;
  padding: 40px 30px;
  font-size: 16px;
  line-height: 30px;
  overflow-x: auto;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

/*----------*/
/* 共通CSS  */
/*----------*/

/* body全体 */
body {
  background-color: #FFFFFF;
  margin: 0px;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
 
/* ヘッダー*/
@media screen and (max-width: 400px) {
  header {
    text-align: center;
    background-color: #FFE5B9;
    color: #FFFFFF;
    padding: 80px 10%;
    font-size: 3vw;
  }
}
@media screen and (min-width: 400px) {
  header {
    text-align: center;
    background-color: #FFE5B9;
    color: #FFFFFF;
    padding: 100px 50px;
    font-size: 20px;
    margin: 50px 0 0 0;
  }
}

/* Homeリンク */
.return_bar{
  display: flex;
  margin: 30px 5%;
  font-size: 17px;
}
.home_url{
  display: inline-block;
  margin: 0 0 0 30px;
}
.home_url::before{
  content: '';
  display: inline-block;
  background-image: url("../pictures/left_arrow_pop_black.png");
  height: 15px;
  width: 15px;
  background-size: contain;
  vertical-align: middle;
  margin: 0 10px 3px 0;
}
.here_url {
  display: inline-block;
  margin: 0 0 0 5%;
}

/* ヘッダー下 */
@media screen and (max-width: 1192px) {
  #body {
    margin: 0 5%;
    display: block;
  }
}
@media screen and (min-width: 1192px) {
  #body {
    margin: 0 5%;
    display: flex;
  }
}

/* ページ説明 */
@media screen and (min-width: 400px) {
  #page_explanation {
    background-color: #EFF8FF;
    padding: 30px;
    border-radius: 30px;
    line-height: 1.5em;
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  #page_explanation {
    background-color: #EFF8FF;
    padding: 30px;
    border-radius: 30px;
    font-size: 13px;
    line-height: 1.3em;
  }
}

/* Tips一覧 */
@media screen and (max-width: 1192px) {
  #tips_list{
    background-color: #FFFFFF;
    margin: 50px 0 0 0;
  }
}
@media screen and (min-width: 1192px) {
  #tips_list{
    background-color: #FFFFFF;
    margin: 50px 0;
  }
}

/* 本文 */
@media screen and (max-width: 1192px) {
  #main {
    display: inline-block;
    width: 100%;
    margin-right: 1.5%;
    order: 1;
  }
}
@media screen and (min-width: 1192px) {
  #main {
    display: inline-block;
    width: 74%;
    margin: 0 0 1.5% 1.5%;
    order: 1;
    vertical-align: top;
  }
}

/* メニュー */
@media screen and (max-width: 1192px) {
  #menu_bar {
    background-color: #EFF8FF;
    display: inline-block;
    width: 100%;
    margin: 0 0 80px 0;
    order: 2;
    border-radius: 30px;
    }
}
@media screen and (min-width: 1192px) {
  #menu_bar {
    background-color: #EFF8FF;
    display: inline-block;
    width: 21%;
    height: fit-content;
    vertical-align: top;
    padding: 30px;
    border-radius: 30px;
  }
}

/* メニュー見出し */
.menu_title {
  display: block;
  font-size: 20px;
  padding: 0 30px 10px 20px;
  line-height: 50px;
  font-weight: bold;
  text-indent: 1em;
  margin: 0;
}
.menu_title::before {
  content: '';
  height: 20px;
  width: 10px;
  margin-top: 3px;
  margin-left: -28px;
  position: absolute;
  background: #FFE5B9;
  box-shadow: 0 20px 0 #ffab73;
}

/* 検索 */
@media screen and (max-width: 1192px) {
  .search_bar{
    display: block;
    padding: 30px 30px 0 30px;
  }
}
@media screen and (min-width: 1192px) {
  .search_bar{
    display: block;
  }
}
.search_area {
  margin: 20px 0 0 20px;
}
.search_box {
  display: inline-block;
  width: 62%;
  padding: 8px 0;
  border: 2px solid #C9CBFF;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.search_btn {
  padding: 5px 10px;
  color: #FFFFFF;
  background: #C9CBFF;
  border: 2px solid #C9CBFF;
  height: 36px;
  width: 30%;
  border-radius: 10px;
}

/* もくじ */
@media screen and (max-width: 1192px) {
  .table_of_contents {
    margin: 30px;
  }
}
@media screen and (min-width: 1192px) {
  .table_of_contents {
    margin: 0 0 40px 0;
  }
}
.menu_title {
  margin: 0 0 10px 0;
  font-size: 20px;
}
.index_lang{
  display: block;
  text-decoration: none;
  margin: 0 20px 20px 20px;
  width: fit-content;
}
@media screen and (max-width: 1192px) {
  #table_of_contents_index{
    padding: 0 3%;
  }
}

/* セレクトボックス */
@media screen and (max-width: 1192px) {
  .chenge_design_area {
    margin: 30px;
  }
}
.design_bar {
  width: 90%;
  padding: 8px 20% 8px 20px;
  margin: 0 5%;
  border: 2px solid #C9CBFF;
  background-color: #FFFFFF;
  border-radius: 10px;
  appearance: none;
}
.select_area {
  margin: 20px 0 0 0;
}
.select_area::after {
  content: '';
  position: relative;
  top: 13px;
  right: 17%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #C9CBFF;
  pointer-events: none;
}

/* 見出し１ */
@media screen and (min-width: 400px) {
  .heading_1 {
    color: #FFFFFF;
    padding: 1em;
    display: inline-block;
    line-height: 1.3em;
    background: #C9CBFF;
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .heading_1 {
    color: #FFFFFF;
    padding: 1em;
    display: inline-block;
    line-height: 1.3em;
    background: #C9CBFF;
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;
    font-size: 20px;
    word-break: break-word;
  }
}

.subtitle {
  color: #FFFFFF;
}
.heading_1::before {
  content: '●';
  color: white;
  margin-right: 15px;
}
.heading_1_text{
  display: inline-block;
  color: #FFFFFF;
}

/* 見出し２ */
@media screen and (min-width: 400px) {
  .heading_2 {
    font-size: 20px;
    padding: 0 30px 10px 20px;
    line-height: 50px;
    font-weight: bold;
    text-indent: 1em;
    margin: 0;
  }
}
@media screen and (max-width: 400px) {
  .heading_2 {
    font-size: 18px;
    padding: 0 30px 10px 20px;
    line-height: 35px;
    font-weight: bold;
    text-indent: 1em;
    margin: 0;
  }
}
.heading_2::before {
  content: '';
  height: 20px;
  width: 10px;
  margin-top: 3px;
  margin-left: -28px;
  position: absolute;
  background: #FFE5B9;
  box-shadow: 0 20px 0 #ffab73;
}

/* Tips一覧下 */
.textarea {
  padding: 30px 0;
}
@media screen and (min-width: 400px) {
  .lang_div {
    padding: 30px;
    background-color: #EFF8FF;
    margin: 0 0 30px 0;
    border-radius: 30px;
  }
}
@media screen and (max-width: 400px) {
  .lang_div {
    padding: 20px 5%;
    background-color: #EFF8FF;
    margin: 0 0 30px 0;
    border-radius: 30px;
  }
}

/* Tipsリンク部 */
@media screen and (min-width: 400px) {
  .tips_contents {
    display: block;
    font-size: 20px;
    padding: 20px 0 0 50px;
    width: fit-content;
  }
}
@media screen and (max-width: 400px) {
  .tips_contents {
    display: block;
    font-size: 18px;
    padding: 20px 10% 10px 10%;
    width: fit-content;
  }
}


/*---------------*/
/* TipsページCSS */
/*---------------*/

/* Tips全体 */
#tips_detail {
  background-color: #FFFFFF;
  padding: 0 25px 30px 25px;
  margin: 0 0 50px 0;
}

/* Tipsページのタイトル */
#tips_title {
  position: relative;
  padding: 100px 40px;
  background-color: #FFFFFF;
  border: 10px solid #E9C77B;
  margin: 0 0 80px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#tips_title::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  top: calc(100% + 10px);
  left: -10px;
  border-width: 0 15px 15px 0;
  border-right-color: #96793A;
}
#tips_title::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  content: '';
  top: calc(100% + 10px);
  right: -10px;
  border: none;
  border-width: 15px 15px 0 0;
  border-bottom: solid 15px transparent;
  border-left: solid 15px #96793A;
}

/* 本文 */
.main_text {
  display: block;
  font-size: 15px;
  padding: 0 10%;
  margin: 0;
  line-height: 30px;
}

/* 本文中のリンク */
.link_in_contents {
  color: blue;
  word-break: break-word;
}

/* 見出し３ */
@media screen and (min-width: 400px) {
  .heading_3 {
    font-size: 16px;
    padding: 0 5%;
    line-height: 30px;
    font-weight: bold;
    text-indent: 0em;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 400px) {
  .heading_3 {
    font-size: 16px;
    padding: 15px 5% 5px 5%;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
  }
}


/* 本文内画像 */
@media screen and (min-width: 400px) {
  .image_in_main_text{
    padding: 20px 0px 20px 70px;
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .image_in_main_text{
    padding: 20px 10% 20px 10%;
    width: 80%;
  }
}
