<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>うにてぃっぷす - サンプルページ</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">
  </head>

  <body>
    <!--boby全体-->
    <div class="container">
      <!--ヘッダー-->
      <header class="header">
        <h1 class="header__title">うにてぃっぷす</h1>
      </header>

      <!--パンくずリスト-->
      <nav class="bread-crumbs">
        <div class="bread-crumbs_items_row">
          <li class="bread-crumbs_item"><a href="index.html" class="bread-crumbs__link">Home</a></li>
          <li class="bread-crumbs_item"><a href="#" class="bread-crumbs__link">サンプルページ</a></li>
        </div>
      </nav>
  
      <!--ヘッダー下全体-->
      <div id="body">
        <!--右部(メニューバー)-->
        <div id="menu_bar">
          <!--検索ボックス-->
          <div class="search_bar">
            <input type=text value="" name="tag" id=tag class="search_box">
            <input type=button id=search class="search_btn" value=検索>
          </div>
          <!--もくじ-->
          <div class="table_of_contents">
            <p class="table_of_contents_title">もくじ</p>
            <a href="#subtitle_1" class="index_lang">・見出し１</a>
            <a href="#subtitle_2" class="index_lang">・見出し２</a>
            <a href="#subtitle_3" class="index_lang">・見出し３</a>
            <a href="#subtitle_4" class="index_lang">・見出し４</a>
          </div>
        </div>
  
        <!--左部(本文)-->
        <div id="main">
          <!--Tips一覧部-->
          <div id="tips_detail">
            <!--Tipsタイトル-->
            <div id="tips_title">
              <div>Tipsタイトル</div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_1">見出し１</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_2">見出し２</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_3">見出し３</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_4">見出し４</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
