  <a href="#subtitle_3" class="index_lang">・見出し３</a>
            <a href="#subtitle_4" class="index_lang">・見出し４</a>
          </div>
        </div>
  
        <!--左部(本文)-->
        <div id="main">
          <!--Tips一覧部-->
          <div id="tips_detail">
            <!--Tipsタイトル-->
            <div id="tips_title">
              <div>Tipsタイトル</div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_1">見出し１</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_2">見出し２</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_3">見出し３</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>

            <!--見出しブロック-->
            <div class="article_block">
              <!--題字-->
              <div class="heading_1"><a id="subtitle_4">見出し４</a></div>
              <!--本文-->
              <div class="textarea">
                <div class="lang_div">
                  <p class="main_text">ここに文を記載してください。</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
